.nav {
  width: 75%;

  & button + ul {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  .ul {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
