.sliderContainer {
  & > div {
    display: flex;
    overflow: hidden;
    position: relative;
    scrollbar-width: none;

    & img {
      transition: transform 1s ease-in-out;
      width: 100%;
      flex-shrink: 0;
    }
  }
}
