$font-main: Helvetica, sans-serif;

body {
  background-image: url("/src/assets/Section_backgrounds/bg-header-1.png");
}

body {
  font-family: $font-main;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}
