@use "@styles/variables.scss";

body {
  font-family: variables.$font-main;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}
