.header {
  background-color: rgba($color: #000000, $alpha: 0.5);

  position: absolute;
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 16px;

  .logoLink {
    display: flex;
    align-items: center;

    .logoText {
      margin-left: 12px;

      color: #aed071;
    }
  }
}
