@use "@styles/variables.scss";

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 285px;

  &:hover {
    opacity: 70%;
  }

  & img {
    width: 100%;
  }

  & h3 {
    margin-top: 16px;
  }

  & p {
    margin-top: 16px;
    text-align: center;
  }

  & span {
    margin-top: 24px;
  }

  & h3,
  & span {
    color: variables.$text-color-green;
  }
}
